PORT=3000
DATABASE_URL=postgres://postgres:password@localhost:5432/kaizen_clicker_db
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=secret_password
DB_NAME=kaizen_clicker_db
DB_PORT=5432
JWT_SECRET=DIGITE_UMA_CHAVE_CRIPTOGRAFADA_LONG_AQUI
# Pode listar URLs múltiplas separadas por vírgula em prod
CORS_ORIGIN=http://localhost:5173
